main {
    width: 80%;
    margin: 40px auto;
}

section {
    height: auto;
    border: 1px solid lightgrey;    
    background-color:  lightgrey;
}

.compraFinalitzada {
    margin-top: 10px;
    height: 80vh;
}