main{
    width: 80%;
    margin: 40px auto;
}

section{
    height: auto;
    border: 1px solid black;
}


@media only screen and (min-width: 1480px) {

    .grid-seleccionarButacas{
        display: grid;
        grid-template-columns: 30% 70%;
        background-color: lightgreen;
    }

    .infoPeli-seleccionarButacas {
        width: 100vw;
    }

}

/*
@media only screen and (max-width: 1480px) {

    .infoPeli-seleccionarButacas {
      
    }

}*/


.mallaButacas{
    display: grid; 
    justify-content: center;
    grid-template-columns: repeat(10, 70px);
    grid-template-rows: repeat(12, auto);
    margin: 50px 0;
    background-color: rgb(255, 255, 255);
}

.mallaButacas div{
    display: flex; 
    justify-content: center;
}

.mallaButacas img{
    max-width: 55%;
}

.butacas-seleccionarButacas a{
    float: right;
}
